<% if @form.categories&.any? %>
  <div class="field">
    <%= form.categories_select :category_id, @form.categories, include_blank: t("decidim.proposals.proposals.edit.select_a_category") %>
  </div>
<% end %>

<% if @form.geocoding_enabled? %>
  <div class="field">
  </div>

  <div class="field" id="address_input">
    <div class="address-fill">
      <%= form.geocoding_field :address, placeholder: t("decidim.proposals.proposals.placeholder.address") %>
    </div>
    <div class="has_no_address">
      <%= form.check_box :has_no_address %>
      <%= form.hidden_field :has_address, value: "1" %>
    </div>
    <div class="map address-fill" id="address_map">
      <%= render partial: "dynamic_map_instructions" %>
      <%= dynamic_map_for proposal_preview_data_for_map(@form.to_h) %>
    </div>
  </div>
<% end %>

<div class="field hashtags__container">
  <%= form.text_field :title, class: "js-hashtags" %>
</div>

<div class="field hashtags__container">
  <%= text_editor_for_proposal_body(form) %>
</div>
