<% if proposal.photos.any? %>
  <div class="row column">
    <strong><%= t(".photos") %>:</strong>
    <div id="photos" class="gallery row flex--fsc proposal-<%= proposal.id %>">
      <% proposal.photos.each do |photo| %>
        <div class="proposal-photo gallery__item" id="photo-<%= photo.id %>">
          <%= link_to photo.big_url, target: "_blank", rel: "noopener" do %>
            <%= image_tag photo.thumbnail_url, class: "thumbnail", alt: strip_tags(translated_attribute(photo.title)) %>
            <% if admin_allowed_to? :edit_photos, :proposals, extra_context = { proposal: proposal }, chain = [::Decidim::ReportingProposals::Admin::Permissions] %>
              <%= icon_link_to "x",
                               decidim_admin_reporting_proposals.remove_photo_path(id: proposal.id, photo_id: photo.id),
                               t(".delete_image"),
                               method: :delete,
                               class: "delete-proposal__button", style: "color:white;" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
