<% if admin_allowed_to?(:hide_proposal, :proposals, extra_context = { proposal: proposal }, chain = [::Decidim::ReportingProposals::Admin::Permissions]) %>
  <% if proposal.reported? %>
    <%= icon_link_to "delete-bin-line", decidim_admin_reporting_proposals.hide_proposal_path(id: proposal),
                     t("actions.hide", scope: "decidim.moderations"), method: :put, class: "action-icon" %>
  <% else %>
    <%= cell("decidim/flag_modal", proposal, modal_id: "flagModal#{proposal.id}") %>
    <button type="button" class="action-icon icon--small action-icon--show-proposal"
            data-open="<%= current_user.present? ? "flagModal#{proposal.id}" : "loginModal" %>"
            title="<%= t("report", scope: "decidim.proposals.admin.proposals.show") %>"
            aria-controls="<%= current_user.present? ? "flagModal#{proposal.id}" : "loginModal" %>"
            aria-haspopup="true"
            tabindex="0">
      <%= icon "flag-line", aria_hidden: true, class: "action-icon icon--small action-icon--show-proposal", role: "img", "aria-hidden": true %>
    </button>
  <% end %>
<% end %>
